<header class="calistoga">
  {{ year }}
  <h1 class="uppercase">{{ month() }}</h1>
  31 дней
</header>
<main>
  <h2>wishlist</h2>
  <ul>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
    <li>
      <a href="">gfdg</a>
    </li>
    <li>
      <a href="">gfd</a>
    </li>
  </ul>
</main>
