<header class="calistoga">
  {{ year }}
  <h1 class="uppercase">{{ month("ru") }}</h1>
  31 дней
</header>
<main>
  <div class="time-info">
    <h2 class="day calistoga">
      {{ day }}
    </h2>
    <h3 class="uppercase">
      {{ weekDay("ru") }}
    </h3>
    <p class="uppercase">
      {{ month("eng") }},
      {{ weekDay("eng") }}
    </p>
    <p>{{ daysToNewYear() }} дней до Нового года</p>
  </div>
  @if(todayInfo) {
  <div class="fact">
    <div class="fact-text">{{ todayInfo.factText }}</div>
    <img [src]="src" alt="Imagen del día" class="fact-img" />
  </div>
  }
</main>
