:host {
  display: block;
  padding: 0px 15px;
}
.calistoga {
  font-family: "Calistoga", serif;
}
.uppercase {
  text-transform: uppercase;
}
header {
  border-bottom: 3px solid;
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}
header h1 {
  margin: 0px 43px 0px 59px;
}
.day {
  font-size: 196px;
}
main {
  display: flex;
}
h2 {
  font-size: 27px;
  width: 100%;
  text-align: center;
}
h3 {
  font-size: 14px;
  margin: 0;
}
.add-candy, .add-activity {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-candy {
  border-right: 5px solid;
}
input {
  margin-bottom: 10px;
  outline: none;
  max-width: 143px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px dashed;
}
.sign {
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid #93733C;
  letter-spacing: 0.6px;
}
img {
  margin-top: 20px;
  position: absolute;
  top: 0px;
  right: 10px;
}